{% extends "base.html" %}

{% block content %}
<h1>Un poco de filosofía</h1>
<div class="contenedor">
    <ul>
        <li>
            <p>Si Dios no existiese, sería necesario programarlo</p>
        </li>
        <li>
            <p>El truco de la filosofía es empezar con algo tan simple que a nadie le parezca digno de mención y terminar con algo tan complejo que nadie entienda</p>
        </li>
        <li>
            <p>Esas personas que creen que lo saben todo son una verdadera molestia para aquellos que de verdad lo sabemos todo</p>
        </li>
        <li>
            <p>Lo que el mundo necesita es más genios con humildad; somos tan escasos</p>
        </li>

    </ul>
</div>
{% endblock %}
