{% extends "base.html" %}

{% block content %}
<h1>Mis habilidades</h1>
<ul>
    <h3>Técnicas actuales</h3>
        <ul>
            <li>Python / Flask</li>
            <li>HTML & CSS</li>
            <li>Paleta de colores en blanco negro y gris</li>
            <li>Realizo páginas minimalistas mitad porque me gustan,<br> mitad para enmascarar mis carencias de diseño</li>
        </ul>
    <h3>Técnicas futuras</h3>
        <ul>
            <li>Incorporar paletas de colores mas variadas</li>
            <li>Incorporar gráficos e imágenes</li>
        </ul>
    <h3>Musicales</h3>
        <ul>
            <li>Toco "Twinkle, twinkle little star" en piano y guitarra</li>
        </ul>
    <h3>Filosóficas</h3>
        <ul>
            <li>Leí un resumen del libro "Filosofía para Dummies" <br>(el libro original era muy complejo y lo resumí con ChatGpt)</li>
        </ul>
    <h3>Humorísticas</h3>
        <ul>
            <li>Soy un tipo muy gracioso y sarcástico</li>
            <li>Hago reir a mis tías en la noche de Navidad</li>
        </ul>

</ul>
{% endblock %}
